// --- Colors --- //
// Basic
$white: #FFFFFF;

// Gray
$gray-300: #F5F5F5;
$gray-400: #E5E5E5;
$gray-500: #D8D8D8;
$gray-600: #9B9B9B;
$gray-700: #4A4A4A;
$gray-800: #3A3A3A;
$gray-900: #323232;


// Blue
$blue-500: #28B0FC;
$blue-900: #222D39;

// Misc
$text-color: $blue-900;


// --- Border Radius --- //
$radius-base: 4px;
$radius-large: 9px;
$radius-extra: 32px;
$radius-full: 50%;


// --- Border size --- //
$border-size-base: 1px;


// --- Font --- //
// Font family
$font-sans: 'Roboto', sans-serif;

// Font weight
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Font size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 20px;
$text-xl: 32px;

// Line height
$leading-1: 16px;
$leading-2: 24px;
$leading-3: 26px;
$leading-4: 28px;
$leading-5: 48px;

// -- Spacing --- //
$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 16px;
$spacing-4: 18px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 30px;
$spacing-8: 32px;
$spacing-9: 40px;
$spacing-10: 48px;
$spacing-11: 56px;